<form #carForm="ngForm" (ngSubmit)="addCar(newCar); carForm.reset()">
    <div class="form-group">
      <label>Mark:</label>
      <input #mark="ngModel" [(ngModel)]="newCar.mark" name="mark" minlength="2" type="text" class="form-control" required>

      <div *ngIf="mark.invalid && (mark.dirty || mark.touched)"
      class="alert alert-danger">
        <div *ngIf="mark.errors.required">
            Mark is required.
        </div>
        <div *ngIf="mark.errors.minlength">
            Mark must be at least 2 characters long.
        </div>  
      </div>
    </div>
    <div class="form-group">
      <label>Model:</label>
      <input #model="ngModel" [(ngModel)]="newCar.model" name="model" minlength="2" type="text" class="form-control" required>

      <div *ngIf="model.invalid && (model.dirty || model.touched)"
      class="alert alert-danger">
        <div *ngIf="model.errors.required">
            Model is required.
        </div>
        <div *ngIf="model.errors.minlength">
            Model must be at least 2 characters long.
        </div>  
      </div>
    </div>
    <div class="form-group">
      <label>Year:</label><br>
      <select #year="ngModel" [(ngModel)]="newCar.year" name="year">
        <option *ngFor="let carYear of carYears" value="{{ carYear }}" class="form-control" required>{{ carYear }}</option>
      </select>

      <div *ngIf="year.invalid && (year.dirty || year.touched)"
      class="alert alert-danger">
        <div *ngIf="year.errors.required">
            Year is required.
        </div>
      </div>

    </div>
    <div class="form-group">
      <label>Max Speed:</label>
      <input #maxSpeed="ngModel" [(ngModel)]="newCar.maxSpeed" name="maxSpeed" minlength="2" type="number" class="form-control">
    </div>
    <div class="form-group">
      <label>Number of Doors:</label>
      <input #numberOfDoors [(ngModel)]="newCar.numberOfDoors" name="numberOfDoors" type="number" class="form-control" required>
      <div *ngIf="numberOfDoors.invalid && (numberOfDoors.dirty || numberOfDoors.touched)"
      class="alert alert-danger">
        <div *ngIf="numberOfDoors.errors.required">
            Number of Doors is required.
        </div>
        <div *ngIf="numberOfDoors.errors.minlength">
            Number of Doors must be at least 2 characters long.
        </div>  
      </div>
    </div>
    <div class="form-group">
      <label>Is Automatic:</label><br>       
      <input #isAutomatic="ngModel" [(ngModel)]="newCar.isAutomatic" name="isAutomatic" type="checkbox" value="true"> True<br>
    </div>
    <div class="form-group">
      <label>Engine:</label><br>       
      <input #engine="ngModel" [(ngModel)]="newCar.engine" name="engine" type="radio" value="Diesel" required> Diesel<br> 
      <input #engine="ngModel" [(ngModel)]="newCar.engine" name="engine" type="radio" value="Petrol" required> Petrol<br> 
      <input #engine="ngModel" [(ngModel)]="newCar.engine" name="engine" type="radio" value="Electric" required> Electric<br> 
      <input #engine="ngModel" [(ngModel)]="newCar.engine" name="engine" type="radio" value="Hybrid" required> Hybrid<br>     
      <div *ngIf="engine.invalid && (engine.dirty || engine.touched)"
      class="alert alert-danger">
        <div *ngIf="engine.errors.required">
            Engine is required.
        </div> 
      </div>

    </div>

    <button type="button" class="btn btn-danger" [disabled]="carForm.form.pristine" (click)="carForm.reset()">Reset</button>
    <button type="submit" class="btn btn-primary" [disabled]="!carForm.valid">Add Car</button>
    <button type="button" class="btn btn-primary" (click)="preview(newCar)">Preview</button>

</form>